@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    margin: 0;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.top {
    background-color: #1f2937;
}

.nav {
    display: flex;
    align-items: center;
    padding: 10px 75px;
    justify-content: space-between;
}

.navLogo {
    font-size: 24px;
    font-weight: bold;
}

a.navLogo:link, a.navLogo:visited, a.navLogo:hover, a.navLogo:active {
    color: #f9faf8;
}

ul.navLinks {
    list-style: none;
    display: flex;
    gap: 16px;
    font-size: 18px;
}

a.navLinks:link, a.navLinks:visited {
    color: #e5e7eb;
}

a.navLinks:hover, a.navLinks:active {
    color: darkgray;
}

a:link, a:visited {
    text-decoration: none;
}

.main {
    padding: 50px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

.mainText {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.mainHeading {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 8px 0;
}

.mainSecondary {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0 48px 0;
}

.beforeAfter {
    max-height: 375px;
    border: 10px solid #fff;
    border-radius: 20px;
}

.button {
    padding: 10px;
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.mainButton {
    width: 150px;
    height: 20px;
}

.middle {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 50px;
}

.middleHeading {
    padding: 20px 0;
}

.middleImageSection {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}
.middleImageDivs {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
}

.middleImages {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.captions {
    font-size: 18px;
    color: #1f2937;
}

.bottom {
    background-color: #e5e7eb;
    padding: 40px 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
    width: 900px;
    text-align: justify;
}

.author {
    align-self: center;
}

.cta {
    margin: 30px 400px;
    padding: 20px 60px;
    background-color: #3882f6;
    border-radius: 15px;
}

.ctaHeading {
    font-size: 20px;
    font-weight: 800;
    color: #f9faf8;
}

.ctaBody {
    color: #e5e7eb;
}